.divCard{
    width: 17rem; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    border: 2px solid #9FB798;
    border-radius: 5%;
    padding: 1.5rem;
    background-color: whitesmoke;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#colorLetrasCard{
    color: #526F4A;
}

#verDetalles{
    text-decoration: none;
    color: whitesmoke; 
    font-size: 1rem;
    border: #526F4A 1px solid;
    border-radius: 5px;
    background-color: #526F4A;
    padding: 0.5rem;
}
